<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html.snippet" . }}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" id="header"
            itemscope="itemscope" itemtype="http://schema.org/WPHeader">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>  Archive </h1>
              <hr class="small">
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container" id="main-page"
         itemprop="mainContentOfPage"
         itemscope="itemscope" itemtype="http://schema.org/WebPageElement">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ $totalCount := len .Data.Pages }}
          {{ range $index, $value := .Data.Pages }}
          {{ $count := sub $totalCount $index }}
          <div class="post-preview">
            <a href='{{ .Permalink }}'>
              <h2 class="post-title">
                {{ .Title }}
              </h2>
            </a>
            <p class="post-meta"> {{$count}} - {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
          </div>
          {{ end }}
        </div>
      </div>
    </div>

    {{ partial "footer.html.snippet" .}}
  </body>
</html>
