<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . }}
  <meta name="description" content="{{ .Summary }}" />

  <!--Twitter Summary Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@sdqali">
  <meta name="twitter:creator" content="@sdqali">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta name="twitter:description" content="{{ .Summary }}">
  <meta name="twitter:image" content="{{ .Site.BaseURL }}/{{ .Params.image }}">

  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Summary }}" itemprop="description"/>
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}/{{ .Params.image }}" />
  <body>

    {{ partial "header.html.snippet" . }}



    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1> {{ .Title }}</h1>
              <span class="meta">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>


    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{ .Content }}
            {{ partial "comments.html.snippet" }}
          </div>
        </div>
      </div>
    </article>

    <hr>

    {{ partial "footer.html.snippet" . }}
  </body>
</html>
