<!DOCTYPE html5>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" prefix="og: http://ogp.me/ns#">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html.snippet" . }}


    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1> {{ .Site.Title }}</h1>
              <hr class="small">
              <span class="subheading">Thoughts on Code, etc.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          {{ range first 10 .Data.Pages }}
          <div class="post-preview">
            <a href='{{ .Permalink }}'>
              <h2 class="post-title">
                {{ .Title }}
              </h2>
            </a>
            <p class="post-subtitle">
              {{ .Summary }}
            </p>
            <p class="post-meta">Posted on {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
          </div>
          {{ end }}
          <!-- Pager -->
          <ul class="pager">
            <li class="next">
              <a href="/blog/">Older Posts &rarr;</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    {{ partial "footer.html.snippet" }}
  </body>
</html>
